{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title">
              <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.text }}
            </h3>
     
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.published_date }}</p>
        </div>
        <hr>
        <!-- Pager -->
      
        <div class="clearfix">
          <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit Post</a>
          <a class="btn btn-primary float-right" href="/">All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <hr> 


{% endblock %}